.card {
    box-sizing: border-box;
    padding-right: 2%;
    margin-bottom: 50px;

    hr {
        margin-top: 2px;
        margin-bottom: 2px;
        border-top: 1px solid black;
        width: 10%;
    }

    @include breakpoint-max(small) {
        padding-right: 0;
    }

    @include breakpoint-min(medium) {
        a:hover {
            color: $main-blue;
        }
    }
}

.card-header {
    transition: filter 300ms;

    @include breakpoint-min(large) {
        &:hover {
            filter: brightness(0.5);
        }
    }
}