<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Gary Cheung UX Designer Portfolio">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
    <title>{{ .Title }}</title>
</head>
<body>
    <nav class="navbar row space-btwn align-center">
        <a class="navbar-title" href="/">Gary Cheung</a>

        <button class="btn-hamburger mobile-initially-hidden" role="navigation" id="menu-hamburger">
            <div class="hamburger-container">
                <div class="hamburger-icon"></div>
            </div>
        </button>

        <ul id="navbar-options" class="navbar-mobile">
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="">Resume</a></li>
        </ul>
    </nav>
    <header class="header">
        <h1>Hi, My name is Gary.</h1>
        <h2>I am a UX designer &amp; researcher that uses a human-centered approach to create delightful experiences.</h2>
    </header>
    <section id="portfolio" class="section">
        <h3>Portfolio</h3>
        <hr>
        <div class="row">
            {{ range .Data.Pages }}
                {{ if eq .Type "project" }}
                    {{ partial "card.html" . }}
                {{ end }}
            {{ end }}
        </div>
    </section>
    <section id="about" class="section about">
        <h3>About Me</h3>
        <hr>
        <div class="row align-center reverse">
            <div class="col-lg-8 col-sm-12">
                <p>
                    Hi, my name is Gary. I am a UX Designer and Web Developer that uses a human-centered approach to create delightful experiences.
                </p>
                <p>
                    I was initially a latecomer to the world of tech, having learnt to code right after finishing my undergraduate degree. During my time away from school, my background in psychology led to become curious about the human facing side of software development. This lead me to return to school where I learned to bring human-centered principles into design and development.
                </p>
                <p>
                    I am seeking fulltime opportunities in UX design. If you are looking for a designer that believes in the importance of UX, feel free to contact me at garycheu23@gmail.com!
                </p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <img src="https://placehold.it/250x250" alt="">
            </div>
        </div>
    </section>
    {{ partial "footer.html" }}
    <script>
        (function(){
            const menu = document.getElementById("menu-hamburger");
            const options = document.getElementById("navbar-options");
            const icon = document.querySelector("#menu-hamburger .hamburger-icon");
            menu.addEventListener("click", function(){
                options.classList.toggle("mobile-visible");
                icon.classList.toggle("hamburger-icon__close");
            });
        })();
    </script>
</body>
</html>