$breakpoints: (
    small: 767px,
    medium: 991px,
    large: 1199px
);

$at_least_points: (
    medium: 768px,
    large: 992px,
    extra_large: 1200
);

$homepage-background:rgb(241, 248, 253);
$main-blue: rgb(83, 146, 218);
$bright-blue: rgb(0, 117, 252);